@font-face {
    font-family: "aventura";
    src: url(../typo/Aventura-Bold.otf);
}



#titre_achat {
    display: block;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    font-family: 'aventura';
    color: #fcd21c;
    font-size: 3em;

}

#produit {
    min-height: 100vh;
    width: 100%;
}

#fiche_produit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}

#img_produit{
    background-color: blue;
    width: 300px;
    height: 400px;
}